# Archivos de construcción y compilación
build/

# Archivos de configuración de Qt Creator
*.pro.user
.qtcreator/

# Archivos objeto y binarios
*.o
*.obj
*.exe

# Archivos de depuración
*.debug
*.pdb

# Archivos de respaldo
*~
*.bak
*.backup

# Archivos del sistema
.DS_Store
Thumbs.db